extends layout
 
block content
	.container
		h2 Inscrivez-vous si vous n'avez pas deja un compte 
		em -Dora L'exploratrice
		br
		
		h3 Login :
		input(type='text', placeholder='Ex : verylongnameandpseudo' class="txt", name='nick')
		
		h3 Password :
		input(type='password', placeholder='Ex : 0000' class="txt", name='passwrd')
		
		h3 Re-type your password :
		input(type='password' class="txt")
		
		h3 Votre mail :
		input(type='email', placeholder='Ex : votresuperlongmail@yahoo.com', class="txt", name='mail')
		
		br
		h2 Quelques detailles :
		br
		
		h3 Nom :
		input(type='text' class="txt", name='name')
		
		h3 Prenom :
		input(type='text' class="txt", name='fname')
		
		h3 Sexe :
		input(type='radio' name='sexe' value='Homme' id='Homme')
		label(for='Homme') Homme
		input(type='radio' name='sexe' value='Femme' id='Femme')
		label(for='Femme') Femme
		
		h3 Age :
		input(type='number', name='age')
		br
		br
		a(href='/connexion')
			input(type='button', value='Inscrie moi')
		br
		br
		br