extends layout
block content
    #bloc_page
      // fixer facilement les dimensions de la page et de centrer notre site à l'écran
      header
          
        nav
          ul#menu_horizontal
            li
              a(href='Acceuil.html') Accueil
            li
              a(href='Profil.html') Profil
            li
              a(href='Parametres.html') Parametres

