extends layoutco
block content
  h1= title
  link(rel='stylesheet', href='style.css')
  p Exprimez toi !
  form(action='/', method='POST')
    textarea(name="tweet", rows=3, columns=50)
    input(type='submit', content='Sends')

    - each tweet in tweets
      p=tweet
