extends layout
block content
  h1= title
  link(rel='stylesheet', href='style.css')
  p Exprimez vous !
  form(action='/', method='POST')
    textarea(name="tweet", rows=3, columns=50)
    input(type='submit', content='Sends')
  ul
    - each tweet in tweets
      li= tweet
