doctype html
html
	head
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='./stylesheets/inscription.css', rel='stylesheet')
  body(style="background:url('http://everydayfeminism.com/wp-content/uploads/2015/02/ws_Rainy_Street_at_Night_1920x1080.jpg') no-repeat;")
  .navbar.navbar-default
    .container
      a.navbar-brand(href='#')
        img#Logo(alt='Logo', src='http://www.bullionexperts.com/images/SBI-logo.svg.png')
      p.nav.navbar-nav.nomdusite TweetRise
      form.navbar-form.navbar-right.inline-form
        div
          a.btn.btn-primary.btn-sm(href='#', role='button') Connexion
  .container
    .row
      .formulaire
        input.input-sm.form-control(placeholder='Nom complet')
        br
        input.input-sm.form-control(placeholder='Adresse email')
        br
        input.input-sm.form-control(placeholder='Mot de passe')
        br
        input.input-sm.form-control(placeholder="Nom d'utilisateur")
        br
        br
        div(align='center')
          .col-sm-12
            button.btn.btn-success.btn-block(type='button') S&apos;inscrire
