doctype html
html
head
    meta(charset='utf-8')
    |         
    link(rel='stylesheet', href='style.css')
    |         
    title Twitter
  h1
    | TWITTER
  body
    form
      table.forumline(width='100%', cellpadding='3', cellspacing='1', border='0')
        tr
          td.row1(align='center')
            table(border='0', cellspacing='0', cellpadding='2')
              tr
                td.gensmall Username/Login: 
                td
                  input.post(type='text', name='username', size='10')
                td.gensmall    Password:
                td
                  input.post(type='password', name='password', size='10', maxlength='32')
                td.gensmall    Log me on automatically each visit
                td
                  input.text(type='checkbox', name='autologin')
                td
                  input.mainoption(type='submit', name='login', value='Log in', <p='')
                  a(href='page2.html')
                td
                  input.mainoption(type='submit', name='register', value='Register', href='page2.html')
                  p
                a(href='page2.html')
                  p
                  p
                    | Register
                    a(href='page2.html')  here
                    |  !
                  p
                    | For comments 
                    a(href='page3.html')  here
                    |  !
    a.retweet(href='https://facebook.com/intent/retweet?tweet_id=326818042568921088', style='display:inline-block;font-family:georgia,serif;font-size:12px;color:#000;text-decoration:none;padding:1px 5px;border:1px solid #ccc;border-radius:3px;background-color:#ddd;background:linear-gradient(to bottom, #f6f6f6, #ddd)') Retweet
    style.
      .retweet:hover{opacity:9.9}
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.facebook.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

