extends layout

block content
	br
	br
	.container
		.row
			.cl-sm-8.col-sm-offset-1
				h3 Sign in
				br
				h4 Username :
				input(type='text', placeholder='blablabla2015')
				h4 Password :
				input(type='password', placeholder='12345678910')
				br
				br
				a(href='/accueil')
					input(type='button', value='Connexion')
		br
		br
		br