doctype html
html
head
  title twitter
p
  | Prénom :
  input#textfield(type='text', name='textfield')
  | *
p
  | Nom :
  input#textfield2(type='text', name='textfield2')
  | *
p
  | Sexe :
  label
    input#RadioGroup1_0(type='radio', name='RadioGroup1', value='bouton radio')
    | Homme
  | *
  label
    input#RadioGroup1_1(type='radio', name='RadioGroup1', value='bouton radio')
    | Femme
  | *
  br
p
  | Date de naissance : jour :
  select#select(name='select')
    option 01
    option 02
    option 03
    option 04
    option 05
    option 06
    option 07
    option 08
    option 09
    option 10
    option 11
    option 12
    option 13
    option 14
    option 15
    option 16
    option 17
    option 18
    option 19
    option 20
    option 21
    option 22
    option 23
    option 24
    option 25
    option 26
    option 27
    option 28
    option 29
    option 30
    option 31
  | mois :
  select#select2(name='select2')
    option Janvier
    option Fevrier
    option Mars
    option Avril
    option Mai
    option Juin
    option Juillet
    option Aout
    option Septembre
    option Octobre
    option Novembre
    option Decembre
  | année :
  select#select3(name='select3')
    option 2000
    option 1999
    option 1998
    option 1997
    option 1996
    option 1995
    option 1994
    option 1993
    option 1992
    option 1991
    option 1990
  | *
p
  | Pays :
  select#select4(name='select4')
    option Luxembourg
    option Canada
    option Belgique
    option France
  | *
p
  | Adresse e-mail :
  input#textfield3(type='text', name='textfield3')
  | *
p
  | Pseudo :
  input#textfield4(type='text', name='textfield4')
  | *
p
  | Mot de passe :
  input#textfield5(type='text', name='textfield5')
  | *
p
  | Retapez mot de passe :
  input#textfield6(type='text', name='textfield6')
  | *
p   

