doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='./stylesheets/pagedeco.css', rel='stylesheet')
  body
    .navbar.navbar-default
      .container
        a.navbar-brand(href='#')
          img#Logo(alt='Logo', src='http://www.bullionexperts.com/images/SBI-logo.svg.png')
        p.nav.navbar-nav.nomdusite TweetRise
        form.navbar-form.navbar-right.inline-form
          div
            input.input-sm.form-control(placeholder='Pseudo')
            input.input-sm.form-control(placeholder='email')
            a.btn.btn-primary.btn-sm(href='', role='button') Connexion
            a.btn.btn-danger.btn-sm(href='', role='button') S&apos;inscrire
    .center-container
      .center-row
        .col-xs-6.fd-un.text-center
        h2 Share
        .col-xs-6.fd-deux.text-center
        h2 With
      .center-row
        .col-xs-6.fd-trois.text-center
        h2 The  
        .col-xs-6.fd-quatre.text-center
        h2 World
