doctype html
html
  head
    title TweetRise
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='./stylesheets/pagedeco2.css', rel='stylesheet')
  body
    .navbar.navbar-default
      .container
        a.navbar-brand(href='/')
          img#Logo(alt='Logo', src='http://www.bullionexperts.com/images/SBI-logo.svg.png')
        p.nav.navbar-nav.nomdusite TweetRise
        form.navbar-form.navbar-right.inline-form
          div
            input.input-sm.form-control(placeholder='Pseudo')
            input.input-sm.form-control(placeholder='Mot de passe')
            a.btn.btn-primary.btn-sm(href='/index', role='button') Connexion
    .corps
      h1(align='center') Partagez votre experience
      br
      div(align='center')
        a.btn.btn-danger.btn-lg.btn-huge.lato(href='/inscription') Devenir membre
