body {
  background: url('http://fc02.deviantart.net/fs70/f/2010/203/a/4/Teal_Pixel_Blocks_by_sonyrootkit.jpg');
}

h3 {
	padding-bottom: 10px;
}

.nomdusite
{
    font-family: Verdana, Arial, sans-serif;
    font-size: medium;
	padding-top: 13px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  padding-bottom:0px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding-bottom:0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#Logo
{
	line-height:20px;
	height:100%;
}

.btn {
	border-radius:0;
}

.btn-danger {
    background-color:#f44d3c;
}

.case {
	background:#FFFFFF;
	color:#606060;
	border:2px outset #D0D0D0;
	font-weight:900;
	border-radius:5px;
	width:900px;
	height:60px;
	margin-left:50px;
	padding:10px;
}

textarea {
	width:900px;
    height:70px; 
    border-radius: 5px;
   
}
