body {
  background: url('http://i.ytimg.com/vi/AV48vINy134/maxresdefault.jpg');
}

.nomdusite
{
    font-family: Verdana, Arial, sans-serif;
    font-size: medium;
	padding-top: 13px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

[class*="col-"] {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  padding-bottom:300px;
  padding-top:50px;
}

#Logo
{
	line-height:20px;
	height:100%;
}

.btn {
	border-radius:0;
}

.btn-danger {
    background-color:#f44d3c;
}
